.container {
  min-height: 100vh;
  margin-top: 4rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  font-size: 7rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.teamContainer {
  width: 80%;
  min-height: 400px;
  border-top: 1px solid #000;
  padding-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.headingName {
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  z-index: 100;
  position: absolute;
  top: -50px;
  margin: 0;
}
.rightContainer {
  width: 50%;
}
.leftContainer {
  width: 50%;
  height: 100%;
  position: relative;
}
.rightText {
  position: relative;
  z-index: 100;
  text-align: justify;
  display: block;
  margin-right: auto;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3rem;
}
